#wrap {
  background-color: gray;
}
#header {
  padding: 20px;
  background-color: red;
}
#container {
  padding-bottom: 30px;
  background-color: limegreen;
}
#container::after {
  content: "";
  display: block;
  clear: both;
}
#container #content {
  float: right;
  width: 62%;
  background-color: dodgerblue;
}
#container #content .inn {
  padding: 20px;
}
#container .aside {
  float: left;
  width: 38%;
  background-color: gold;
}
#container .aside .inn {
  padding: 20px;
}
#footer {
  padding: 20px;
  background-color: silver;
}
