img {
  width: 90px;
  height: 90px;
}

.lst_type {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 5px;
}
.lst_type::after {
  content: "";
  display: block;
  clear: both;
}
.lst_type li {
  float: left;
  width: 90px;
  margin: 5px;
}
.lst_type li a {
  display: block;
  color: #fff;
  text-align: center;
}
.lst_type li a .thumb {
  display: block;
}
.lst_type li a em {
  display: block;
  padding: 5px 5px;
  background-color: #888;
  letter-spacing: -1px;
  line-height: 1.5;
  font-size: 10px;
}
