#content {
  width: 800px;
  margin: 0 auto;
}
.lst_app {
  /* background-color: lime; */
}
.lst_app li {
  float: left;
  margin: 10px;
}
.lst_app:after {
  content: "";
  display: block;
  clear: both;
}

.lst_app li .thmb {
  width: 180px;
  height: 180px;
  background: url(img/bg_thmb.gif) no-repeat;
}
.lst_app li .btn_area {
  padding: 15px 0;
  text-align: center;
}
